{
  "plugins": ["prettier"],
  "extends": ["react-app", "airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "import/extensions": "off",
    "quotes": "off",
    "object-shorthand": "off"
  }
}
