.li-1 {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.button-1 {
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-size: 30px;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none; /* Invisible when container list item is unhovered */
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.button-1:hover {
  color: #af5b5e;
}

.button-1:after {
  content: '×';
}

.li-1:hover .button-1 {
  display: block;
}
